{% block body %}
    <div class="container-fluid">
        <div class="row-bas">
            <div class="col">
                <div class="row mt-0">
                    <div class="col-11 col-sm-10 px-0 mx-auto text-right mb-2">
                        <h4 class="m-2 text-center"><b>لیست صورتحسابهای کافه لبخند</b></h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-11 col-sm-10 px-0 mx-auto">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-right d-flex align-items-center">
                                <input id="archive-button" class="header-button ml-2" type="button" value="همه">
                                <input id="unpaid-button" class="header-button ml-2" type="button" value="پرداخت نشده">
                                <input id="paid-button" class="header-button ml-2" type="button" value="پرداخت شده">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input class="form-control float-sm-left float-right text-right w-auto"
                                       id="searchInput" type="text"
                                       placeholder="جستجو...">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row main-row">
                    <div class="order-col col-11 col-sm-10 px-0 mx-auto my-1 shadow"
                         style=" border-radius: 8px !important;overflow: hidden;background: #fff;">
                        <table id="main-table" class="table text-center table-hover mb-0">
                            <thead class="bg-info">
                            <tr>
                                <th class="sortable-column" id=column0 data-dir="asc" onclick="sort_data('column0')">
                                    شماره
                                    صورتحساب
                                </th>
                                <th class="sortable-column" id=column1 data-dir="asc" onclick="sort_data('column1')">
                                    هزینه
                                    کل (تومان)
                                </th>
                                <th class="sortable-column" id=column2 data-dir="asc" onclick="sort_data('column2')">
                                    وضعیت
                                </th>
                                <th>ویرایش</th>
                            </tr>

                            </thead>
                            <tbody id="table_body">

                            {% for recepit in recepits %}
                                <tr class="table-row">
                                    <td data-toggle="modal" data-target="#myModal{{ loop.index0 }}" class="w-25">
                                        {{ recepit.4 }}
                                    </td>
                                    <td data-toggle="modal" data-target="#myModal{{ loop.index0 }}" class="w-25">
                                        {{ recepit.1 }}
                                        تومان
                                    </td>
                                    <td data-toggle="modal" data-target="#myModal{{ loop.index0 }}" class="w-25"
                                        id="status{{ loop.index0 }}">{{ recepit.2 }}
                                    </td>
                                    <td class="w-25 px-0">
                                        <a class="icon icon_refresh status{{ loop.index0 }}"
                                           data-recepit="{{ recepit.4 }}"
                                           onclick="change_status(this)">
                                            <i class="gb gb_content_paste"></i>
                                        </a>
                                        <a class="icon icon_check status{{ loop.index0 }}"
                                           data-recepit="{{ recepit.4 }}"
                                           onclick="change_status(this)">
                                            <i class="gb gb_done_all"></i>
                                        </a>
                                        <a class="icon icon_trash status{{ loop.index0 }}"
                                           data-recepit="{{ recepit.4 }}"
                                           onclick="change_status(this)">
                                            <i class="gb gb_cancel"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                        {% for recepit in recepits %}
                            <div class="modal fade" id="myModal{{ loop.index0 }}" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header bg-info">
                                            <h4 class="modal-title mx-auto">جزئیات</h4>
                                        </div>
                                        <div class="modal-body text-right">
                                            <div class="overflow-hidden">
                                                <p class="float-right">شماره صورتحساب: {{ recepit.4 }}</p>
                                                <p class="float-left">هزینه کل: {{ recepit.1 }} تومان</p>
                                            </div>
                                            <h5 class="text-center">آیتم ها</h5>
                                            <ul class="border rounded pl-2 py-2 pr-4">

                                                {% set order = orders[loop.index-1] %}
                                                {% for item in order %}
                                                    <li>
                                                        <span class="float-right">{{ item.1 }}</span>
                                                        <span class="float-left">{{ item.2 }} عدد</span>
                                                    </li>
                                                {% endfor %}


                                            </ul>
                                            <ul class="border rounded pl-2 py-2 pr-4">
                                                <li>
                                                    <span class="float-right">زمان درخواست</span>
                                                    <span class="float-left">{{ recepit.6 }}</span>
                                                </li>
                                                <li>
                                                    <span class="float-right">شماره میز</span>
                                                    <span class="float-left">{{ recepit.3 }}</span>
                                                </li>
                                                <li>
                                                    <span class="float-right">تخفیف</span>
                                                    <span class="float-left">{{ recepit.5 }} تومان</span>
                                                </li>
                                                <li>
                                                    <span class="float-right">هزینه کل</span>
                                                    <span class="float-left">{{ recepit.1 }} تومان</span>
                                                </li>
                                            </ul>
                                            <div id="print-icon" class="text-center" style="font-size: 35px"
                                                 onclick="window.print()">
                                                <i class="gb gb_print" style="cursor: pointer"></i>
                                            </div>
                                        </div>
                                        <div class="modal-footer mx-auto">
                                            <button type="button" class="btn btn-info" data-dismiss="modal">بستن
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var user_id = '{{id}}';

            function change_status(status) {
                var index = status.getAttribute(("data-recepit"))
                let class_name = status.classList[1]
                let target_name = status.classList[2]
                let target_column = document.getElementById(target_name)

                if (class_name === 'icon_refresh') {
                    new_status = 'پرداخت نشده'
                } else if (class_name === 'icon_check') {
                    new_status = 'پرداخت شده'
                } else if (class_name === 'icon_trash') {
                    new_status = 'کنسل شده'
                }
                target_column.innerText = new_status

                var data = {"recepit_id": index, "status": new_status};

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: '/cashier/' + user_id + '/recepits',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    success: function (result) {
                        console.log("ok", result);
                    }, error: function (result) {
                        console.log(result);
                    }
                });
            }

            $(document).ready(function () {
                $("#searchInput").on("keyup", function () {
                    var value = $(this).val();
                    $("#table_body tr").filter(function () {
                        $(this).toggle($(this).text().indexOf(value) > -1)
                    });
                });
            });

            $("#unpaid-button").on("click", function () {
                $("#table_body tr").filter(function () {
                    $(this).toggle($(this).text().indexOf("پرداخت نشده") > -1)
                });

            });

            $("#paid-button").on("click", function () {
                $("#table_body tr").filter(function () {
                    $(this).toggle($(this).text().indexOf("پرداخت شده") > -1)
                });
            });

            $("#archive-button").on("click", function () {
                $("#table_body tr").show()
            });

            function sort_data(column) {
                let n = Number(column.slice(-1))
                let table = document.getElementById("main-table");
                let rows = table.rows;
                let target_column = document.getElementById(column);
                let dir = target_column.getAttribute('data-dir')
                for (i = 1; i < (rows.length - 1); i++) {
                    for (j = 1; j < (rows.length - 1); j++) {
                        let x = rows[j].getElementsByTagName("TD")[n];
                        let y = rows[j + 1].getElementsByTagName("TD")[n];
                        var first_row = x.innerHTML;
                        var second_row = y.innerHTML;
                        if (column === "column0") {
                            first_row = Number(x.innerHTML);
                            second_row = Number(y.innerHTML);
                        }
                        if (column === "column1") {
                            first_row = Number(x.innerHTML.trim().slice(0, -5));
                            second_row = Number(y.innerHTML.trim().slice(0, -5));
                        }
                        if (dir === "asc") {
                            if (first_row > second_row) {
                                rows[j].parentNode.insertBefore(rows[j + 1], rows[j]);
                            }
                        }
                        if (dir === "desc") {
                            if (first_row < second_row) {
                                rows[j].parentNode.insertBefore(rows[j + 1], rows[j]);
                            }
                        }


                    }
                }
                if (dir === "desc") {
                    target_column.setAttribute("data-dir", "asc")
                } else {
                    target_column.setAttribute("data-dir", "desc")
                }
            }

        });

    </script>
{% endblock %}