    * {
        direction: rtl;
        font-family: Yekan, sans-serif;
        text-align: right;
    }

    .Vazir {
        font-family: Vazir, sans-serif;
    }

    .ltr {
        direction: ltr;
    }

    .rtl {
        direction: rtl;
    }

    .logo-img {
        width: 5em;
        margin: 1.5em 1em 2.3em 1em;
    }

    .logo-text {
        position: absolute;
        bottom: .4em;
        font-size: 1.75em;
        right: 3.7em;
        color: white;

    }

    .logo-text2 {
        font-weight: bold;
        color: #29b6f6;
    }
    .nav-list{
        list-style: none;
        width: 100%;
        text-align: center ;
    }
    .nav-list-item {

        color: white;
        font-size: 1.5em;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        text-align: inherit;

    }

    .menu-icon {
        margin-left: .5em;
        font-size: 1.5em;
    }

    .hr-menu {
        background-color: white;

    }

    .hr-menu-top {
        background-color: #29b6f6;
    }

    .title {

        font-size: 2.5em;
        right: 1em;
        bottom: .2em;
        vertical-align: bottom;


    }

    .choosed {
        font-size: 1.7em;
        color: #29b6f6;
    }

    .profile {
        text-decoration: none;
        color: black;

        border-radius: .5em;
        padding: .5em 1em .5em 2em;
        font-size: 1em;

        bottom: .9em;
        left: 3em;
        vertical-align: bottom;
        horiz-align: left;

        margin-bottom: 1em;


    }

    .profile-icon {
        color: #29b6f6;
        margin-left: .5em;
    }

        .mobile-display{
        display: none;
        }


    @media only screen and (max-width: 767px) {
            .logo-img{
                visibility: hidden;
            }
        .hamburger-menu{
            visibility: visible !important;

        }
        .menu{
            display: none;
        }
        .title-p{
            display: none;
        }
        .menu-row{
            height: 15em !important;
        }
        .top-mobile{
            height: unset !important;
        }

        }

