<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://gorbeh.ikacc.ir/gorbeh/css/gorbeh-icons.min.css" rel="stylesheet">
    <link href="https://v1.fontapi.ir/css/Vazir" rel="stylesheet">
    <link href="https://v1.fontapi.ir/css/Yekan" rel="stylesheet">

    <style>
        * {
            font-family: Yekan, sans-serif;
            direction: rtl;
        }

        body {
            background-color: #e3e3e3;
        }

        .order-col {
            height: 100%;
        }

        .btn {
            max-width: 100%;
        }

        .icon {
            color: black;
            font-size: 21px;
            margin-left: 4px;
            margin-right: 4px;
        }

        .table-row {
            cursor: pointer;
        }

        td {
            width: 20%;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row main-row">
        <div class="order-col col-11 col-sm-10 px-0 mx-auto my-3 shadow"
             style=" border-radius: 8px !important;overflow: hidden;background: #fff;">
            <table class="table text-center table-hover">
                <thead class="bg-info">
                <tr>
                    <th>شماره صورتحساب</th>
                    <th>هزینه کل (تومان)</th>
                    <th>وضعیت</th>
                    <th>ویرایش</th>
                </tr>

                </thead>
                <tbody>

                {% for recepit in recepits %}


                <tr class="table-row">
                    <td data-toggle="modal" data-target="#myModal1" class="w-25">۳۲۵</td>
                    <td data-toggle="modal" data-target="#myModal1" class="w-25">۱۰۰۰۰۰</td>
                    <td data-toggle="modal" data-target="#myModal1" class="w-25" id="status1">جدید</td>
                    <td class="w-25 px-0">
                        <a class="icon icon_refresh" data-recepit="1" onclick="change_status(this)">
                            <i class="gb gb_autorenew"></i>
                        </a>
                        <a class="icon icon_check" data-recepit="1" onclick="change_status(this)">
                            <i class="gb gb_done_all"></i>
                        </a>
                        <a class="icon icon_trash" data-recepit="1" onclick="change_status(this)">
                            <i class="gb gb_delete"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

            {% for order in orders %}
            <div class="modal fade" id="myModal{{ loop.index0 }}" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <h4 class="modal-title mx-auto">جزئیات</h4>
                        </div>
                        <div class="modal-body text-right">
                            <div class="overflow-hidden">
                                <p class="float-right">شماره صوتحساب: 1</p>
                                <p class="float-left">هزینه کل: 2</p>
                            </div>
                            <h5 class="text-center">آیتم ها</h5>
                            <ul class="border rounded pl-2 py-2 pr-4">

                                {% set order = orders[loop.index-1] %}
                                {% for item in order%}
                                <li>
                                    <span class="float-right">زمان درخواست</span>
                                    <span class="float-left">{{ order.2 }}</span>
                                </li>
                                {% endfor %}


                            </ul>
                        </div>
                        <div class="modal-footer mx-auto">
                            <button type="button" class="btn btn-info" data-dismiss="modal">بستن</button>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
</body>
</html>