/* Menu */

* {
    font-family: Yekan, sans-serif;
    direction: rtl;
    transition: all 400ms linear;
}

.category > a:nth-of-type(2):hover > .img-category {
    filter: drop-shadow(0 0 5px #F87171);
}

.category > a:nth-of-type(2):hover > span {
    color: white;
    background: #F87171;
}

.category > a:nth-of-type(1):hover > .img-category {
    filter: drop-shadow(0 0 5px #374266);
}

.category > a:nth-of-type(1):hover > span {
    color: white;
    background: #374266;
}

.category > a:nth-of-type(3):hover > .img-category {
    filter: drop-shadow(0 0 5px #FFBC27);
}

.category > a:nth-of-type(3):hover > span {
    color: white;
    background: #FFBC27;
}

.category > a:nth-of-type(4):hover > .img-category {
    filter: drop-shadow(0 0 5px #4F46E5);
}

.category > a:nth-of-type(4):hover > span {
    color: white;
    background: #4F46E5;
}

.category > a:nth-of-type(5):hover > .img-category {
    filter: drop-shadow(0 0 5px #F9A8D4);
}

.category > a:nth-of-type(5):hover > span {
    color: white;
    background: #F9A8D4;
}

.category > a:nth-of-type(6):hover > .img-category {
    filter: drop-shadow(0 0 5px #3B82F6);
}

.category > a:nth-of-type(6):hover > span {
    color: white;
    background: #3B82F6;
}

.Vazir span, .Vazir del {
    font-family: Vazir, sans-serif;
}

/* Contact */

.card {
    max-width: 1200px;
}

.btn-coffee {
    color: #fafafa;
    background-color: #3d1800;
    border-color: #3d1800;
}

.btn-coffee:hover {
    color: #000;
}

@media only screen and (min-width: 992px) {

    .card {
        margin: 2rem auto;
    }

    #loc {
        border-left: 1px solid #999;
    }
}

@media only screen and (max-width: 992px) {
    #loc {
        border-bottom: 1px solid #999;
    }
}

/* About */

.row {
    background-color: #fafafa;
    border-radius: 10px;
}

.row-custom {
    box-shadow: 0 0 10px 0 #00000073;
}

.row-header {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    padding: 15px 0;
    width: 40%;
    margin: 20px auto;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}