<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://v1.fontapi.ir/css/Vazir" rel="stylesheet">
    <link href="https://v1.fontapi.ir/css/Yekan" rel="stylesheet">
    <meta charset="UTF-8">
    <title>کافه | درباره ما</title>

    <style>
        * {
            font-family: Yekan, sans-serif;
            direction: rtl;
        }
        p{
            font-size: 12px;
        }

        body {
            background-color: #fafafa;
        }

        .row {
            background-color: #ccc;
        }

        #hr-line {
            background-color: black;
        }


    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row w-75 my-2 mx-auto">
        <div class="col-12 shadow">
            <div class="row justify-content-center">
                <div class="col-4 text-center">
                    <hr id="hr-line">
                    درباره کافه مکتب
                    <hr id="hr-line">
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6 text-right my-2">
                    <p class="text-justify">
                        تجارت قهوه دومین تجارت بزرگ دنیاست و این نوشیدنی اعجاب انگیز، نوشیدنی اصلی بخش بزرگی از جمعیت
                        دنیاست. ما در کافی کافه بر آنیم تا ضمن اطلاع رسانی و ارائه مطالب آموزشی در مورد قهوه و دستگاههای
                        مرتبط با آماده سازی آن، نسبت به فروش مستقیم انواع قهوه، دمنوش، چای و تجهیزات مرتبط اقدام نمائیم.

                        در کافی کافه تمرکز بر ارائه محصولات باکیفیت با قیمت مناسب است و تلاش داریم تا آخرین تحولات و
                        محصولات مرتبط با قهوه و تجهیزات را به مخاطبان گرامی ارائه نمائیم.
                    </p>
                </div>
                <div class="col-lg-6 my-2">
                    <img class="img-fluid" src="assets/img/cafe1.jpg" alt="Cafe Picture">
                </div>
            </div>
        </div>
    </div>
    <div class="row w-75 my-2 mx-auto">
        <div class="col-12 shadow">
            <div class="row justify-content-center">
                <div class="col-4 text-center">
                    <hr id="hr-line">
                    تیم ما
                    <hr id="hr-line">
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 my-2">
                    <img class="img-fluid" src="assets/img/cafe1.jpg" alt="Cafe Picture">
                </div>
                <div class="col-lg-4 my-2">
                    <img class="img-fluid" src="assets/img/cafe1.jpg" alt="Cafe Picture">
                </div>
                <div class="col-lg-4 my-2">
                    <img class="img-fluid" src="assets/img/cafe1.jpg" alt="Cafe Picture">
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>