<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>کافه | درباره ما</title>

    <style>
        .row {
            background-color: #02d0ee;
        }

        #hr-line {
            background-color: black;
        }


    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 w-75 mx-2 my-1 shadow">
            <div class="row justify-content-center">
                <div class="col-4 my-3 justify-content-center text-center">
                    درباره کافه
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6 my-2">
                    <img class="img-fluid" src="assets/img/cafe1.jpg" alt="Cafe Picture">
                </div>
                <div class="col-lg-6 my-2">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate dolorum
                        inventore
                        placeat provident. Atque delectus eveniet excepturi exercitationem, id illum nisi nobis,
                        reiciendis
                        repudiandae suscipit tempore unde velit voluptatum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 w-75 mx-2 my-1 shadow">
            <div class="row justify-content-center">
                <div class="col-4 my-3 justify-content-center text-center">
                    <hr id="hr-line">
                    درباره کافه
                    <hr id="hr-line">
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6 my-2">
                    <img class="img-fluid" src="assets/img/cafe1.jpg" alt="Cafe Picture">
                </div>
                <div class="col-lg-6 my-2">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate dolorum
                        inventore
                        placeat provident. Atque delectus eveniet excepturi exercitationem, id illum nisi nobis,
                        reiciendis
                        repudiandae suscipit tempore unde velit voluptatum.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>