{% extends "base.html" %}
{% block title %}درباره ما{% endblock %}
{% block extra_head %}
    <style>
        a {
            text-decoration: none !important;
            color: #fff !important;
        }

        p, ul {
            font-size: 13px;
        }

        .row {
            background-color: #fafafa;
            border-radius: 10px;
        }

        .row-custom {
            box-shadow: 0 0 10px 0 #00000073;
        }

        .row-header {
            border-top: 1px black solid;
            border-bottom: 1px black solid;
            padding: 15px 0;
            width: 40%;
            margin: 20px auto;
            font-size: 15px;
        }

        img {
            max-width: 100%;
            height: auto;
        }

    </style>

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row row-custom w-75 my-4 mx-auto">
            <div class="col-12 shadow">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <p class="row-header">
                            <strong>درباره کافه لبخند</strong>
                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 h-100 text-right my-auto pb-8">
                        <p class="text-justify">
                            برند لبخند با هدف پر کردن خلا قهوه و کافه داری و برای ترویج فرهنگ قهوه نوشی در جامعه ای که
                            محوریت
                            آن صرفا نوشیدن چای بود در سال 1388 در تهران تاسیس شد و اولین کافی شاپ زنجیره ای آن همان سال
                            در
                            میدان تجریش آغاز به کار کرد.
                            لبخند برندی است با ساختاری عمودی: از قهوه سبز تا لیوان دست شما. بهترین دانه های قهوه با دقت
                            و
                            وسواس خاص به طور مستقیم از مزارع قهوه مناطق مختلف دنیا خریداری می شوند. نمونه قهوه خریداری
                            شده
                            توسط گروه تحقیق و توسعه لبخند مورد بررسی قرار میگیرند و استادان برشته کاری قهوه
                            دستورالعمل منحصر به فرد برشته کردن دانه ها را (بنا به نوع دانه) آماده می کنند.
                        </p>
                        <ul class="text-justify">
                            <li>با منظره ای رویایی در بالاترین نقطه منطقه ، چشم اندازی زیبا و هوایی دلپذیر از تراس کافه
                                بام
                                غروب زیبای خورشید که با رنگهای بنفش و نارنجی رنگ آمیزی شده است تا شما را به میهمانی
                                ستاره ها
                                ببریم.
                            </li>
                            <li>فضای مناسب برای دیدار های دوستانه ،قرارهای کاری و لحظات خاطره انگیز برای تمام فصول با
                                تهویه مناسب و نور کافی ، فضایی برای تمام سلیقه ها
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 h-100 justify-content-center my-auto pb-8">
                        <img class="img-fluid rounded" src="../static/img/cafe1.jpg" alt="Cafe Picture">
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-custom w-75 my-4 mx-auto ">
            <div class="col-12 shadow">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <p class="row-header">
                            <strong>تیم ما</strong>
                        </p>
                    </div>

                </div>
                <div class="row pb-2">
                    <div class="col-md-3 my-2">
                        <img class="img-fluid rounded shadow-sm mb-3 mx-auto" src="../static/img/waiter1.jpg"
                             alt="Cafe Picture">
                        <p class="text-center">
                            رضا غلامی: پیر مجلس
                        </p>
                    </div>
                    <div class="col-md-3 my-2">
                        <img class="img-fluid rounded shadow-sm mb-3 mx-auto" src="../static/img/waiter2.jpg"
                             alt="Cafe Picture">
                        <p class="text-center">
                            سپهر بازیار: آروم، موقر، باصفا
                        </p>
                    </div>
                    <div class="col-md-3 my-2">
                        <img class="img-fluid rounded shadow-sm mb-3 mx-auto" src="../static/img/waiter3.jpg"
                             alt="Cafe Picture">
                        <p class="text-center">
                            رسول احدی: خلاق، متفکر، سخت کوش
                        </p>
                    </div>
                    <div class="col-md-3 my-2">
                        <img class="img-fluid rounded shadow-sm mb-3 mx-auto" src="../static/img/waiter4.jpg"
                             alt="Cafe Picture">
                        <p class="text-center">
                            رضا یزدانی: پرشور، با نشاط، خدای لینوکس
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
