<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://icons.iconarchive.com/icons/graphicloads/food-drink/32/coffee-bean-icon.png">
    <title>کافه | ارتباط با ما</title>
    <style>

    </style>
</head>
<body>
<div class="card">
<div class="card-header"><h1 class="text-center">اطلاعات تماس</h1></div>
<div class="card-body">
<div class="container">
<div class="row">
<div class="col-12 col-lg-6">
<section id="address">

</section>
</div>
<div class="col-12 col-lg-6">
<section id="form">

</section>
</div>
</div>
</div>
</div>
</div>
</body>
</html>