<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title>صندوقدار | لیست منو</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://v1.fontapi.ir/css/Vazir" rel="stylesheet">
    <link href="https://v1.fontapi.ir/css/Yekan" rel="stylesheet">
    <link href="https://gorbeh.ikacc.ir/gorbeh/css/gorbeh-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://icons.iconarchive.com/icons/graphicloads/food-drink/32/coffee-bean-icon.png">
    <style>
        :root {
            --Background: #fafafa;
        }

        body {
            background: var(--Background);
        }

        * {
            font-family: Yekan, sans-serif;
            direction: rtl;
        }

        .Vazir {
            font-family: Vazir, sans-serif;
        }

        .rtl {
            direction: rtl;
        }

        .ltr {
            direction: ltr;
        }

        .options {
            position: absolute;
            left: 1rem;
        }

        span {
            margin: auto;
        }

        strong {
            font-size: 1.5rem;
        }

        #add {
            color: #fafafa;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="container p-4">
    <div class="col-12 my-3">
        <div class="card shadow rounded">
        <div class="card-body">
        <div class="container">
        <div class="row">
            <h6 class="mt-2"><b>پیتزا</b></h6>
            <span class="d-none d-sm-flex mt-2 text-info"><b>&#1782&#1776,&#1776&#1776&#1776 تومان</b></span>
            <div class="options">
                <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
                    <strong><i class="gb gb_edit mx-2 mb-5 edit"></i></strong>
                </button>
                
                <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        Modal body..
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
                </div>

                <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
                    <strong><i class="gb gb_delete mx-2 mb-5 text-danger"></i></strong>
                </button>
                
                <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        Modal body..
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 my-3">
        <div class="card shadow rounded">
        <div class="card-body">
        <div class="container">
        <div class="row">
        
        </div>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 my-3">
        <div class="card shadow rounded">
        <div class="card-body">
        <div class="container">
        <div class="row">

        </div>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 my-3">
        <div class="card shadow rounded">
        <div class="card-body">
        <div class="container">
        <div class="row">
        
        </div>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 my-3">
        <div class="card shadow rounded">
        <div class="card-body">
        <div class="container">
        <div class="row">
        
        </div>
        </div>
        </div>
        </div>
    </div>
    <div class="col-12 my-5">
        <div class="card bg-success shadow rounded">
        <div class="card-body">
        <div class="container">
        <div class="row">
            <a href="#" target="_blank" id="add">
                <strong><i class="gb gb_add_circle_outline ml-2 mb-2"></i></strong>
            </a>
        </div>
        </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>