{% extends "base.html" %}
{% block title %}فهرست{% endblock %}
{% block extra_head %}
    <style>
        * {
            font-family: Vazir, sans-serif !important;
        }

        .category-img {
            width: 6em;
            margin-bottom: 1em;

        }

        .category {
            border: 2px solid var(--primary-color);
            padding: 1em;
            border-radius: 1em;
            margin-top: 1em;

        }

        .category-text {
            margin: auto;
            padding: 0;
            text-align: center;
        }

        .choosed-category {
            background-color: #bcaaa4;
        }

        .menu-card {
            border: 2px solid var(--primary-color);
            padding: 1em;
            border-radius: 1em;
            margin-top: 1em;

        }

        .menu-img {
            border-radius: 1.3em;
            margin-top: 1em;
        }

        .buy-btn {
            width: 100%;
            margin: 1em 0;
        }

        h5 {
            text-align: center;
        }

        h1 {
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row mb-5">
            {% for cat in category_list %}
                <div class="col-2 d-flex justify-content-center">
                    <div class="category align-self-center">
                        <img src="{{ url_for('static','img/'+cat['img']) }}" class="category-img"
                             alt="{{ cat['alt'] }}">
                        <h5 class="category-text">{{ cat['name'] }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for item in items %}
                <div class="col-lg-4 col-md-6 col-12 d-flex justify-content-center">
                    <div class="menu-card">
                        <img class="menu-img" src="{{ url_for('static','img/'+item['img']) }}" alt="{{ item['alt'] }}"><br>
                        <h1 class="d-block">{{ item['name'] }}</h1>
                        <h5>قیمت : {{ item['price'] }} هزار تومان</h5>
                        <h5>دسته بندی : {{ item['category'] }}</h5>
                        <a href="/add?id={{ item['id'] }}" class="btn btn-info buy-btn">خرید</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
