<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://v1.fontapi.ir/css/Vazir" rel="stylesheet">
    <link href="https://v1.fontapi.ir/css/Yekan" rel="stylesheet">
    <meta charset="UTF-8">
    <title>کافه | لیست سفارشات جدید</title>

    <style>
        * {
            font-family: Yekan, sans-serif;
            direction: rtl;
        }

        body {
            background-color: #fafafa;
        }

        .order-col {
            height: 100%;
        }

        .btn {
            max-width: 100%;
        }

        .icon {
            color: black;
            font-size: 21px;
            margin-left: 4px;
            margin-right: 4px;
        }

        .table-row {
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row main-row bg-light">
        <div class="order-col col-9 col-sm-8 px-0 mx-auto my-3 rounded shadow">
            <table class="table text-center table-hover">
                <thead class="bg-info">
                <tr>
                    <th>شماره سفارش</th>
                    <th>شماره میز</th>
                    <th>زمان درخواست</th>
                    <th>وضعیت</th>
                </tr>

                </thead>
                <tbody>
                <tr class="table-row" data-toggle="modal" data-target="#myModal1">
                    <td>325</td>
                    <td>1</td>
                    <td>06/20/2021</td>
                    <td id="status1">جدید</td>


                </tr>
                <tr class="table-row" data-toggle="modal" data-target="#myModal2">
                    <td>325</td>
                    <td>1</td>
                    <td>06/20/2021</td>
                    <td id="status2">جدید</td>


                </tr>
                <tr class="table-row" data-toggle="modal" data-target="#myModal3">
                    <td>325</td>
                    <td>1</td>
                    <td>06/20/2021</td>
                    <td id="status3">جدید</td>


                </tr>
                <tr class="table-row" data-toggle="modal" data-target="#myModal4">
                    <td>325</td>
                    <td>1</td>
                    <td>06/20/2021</td>
                    <td id="status4">جدید</td>


                </tr>
                </tbody>
            </table>

            <div class="modal fade" id="myModal1" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <h4 class="modal-title mx-auto">جزئیات سفارش</h4>
                        </div>
                        <div class="modal-body text-right">
                            <ul class="border rounded pl-2 py-2">
                                <li>
                                    <span class="float-right">قهوه</span>
                                    <span class="float-left">2 عدد</span></li>
                                <li>
                                    <span class="float-right">نسکافه</span>
                                    <span class="float-left">1 عدد</span></li>
                                <li>
                                    <span class="float-right">کاپوچینو</span>
                                    <span class="float-left">2 عدد</span>
                                </li>
                            </ul>
                            <div class="col mx-auto text-center">
                                <a class="icon icon_refresh modal1" onclick="change_status(this)">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a class="icon icon_cook modal1" onclick="change_status(this)">
                                    <i class="fa fa-share"></i>
                                </a>
                                <a class="icon icon_serve modal1" onclick="change_status(this)">
                                    <i class="fa fa-coffee"></i>
                                </a>
                                <a class="icon icon_check modal1" onclick="change_status(this)">
                                    <i class="fa fa-check"></i>
                                </a>
                                <a class="icon icon_trash modal1" onclick="change_status(this)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer mx-auto">
                            <button type="button" class="btn btn-info" data-dismiss="modal">بستن</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <h4 class="modal-title mx-auto">جزئیات سفارش</h4>
                        </div>
                        <div class="modal-body text-right">
                            <ul class="border rounded pl-2 py-2">
                                <li>
                                    <span class="float-right">قهوه</span>
                                    <span class="float-left">2 عدد</span></li>
                                <li>
                                    <span class="float-right">نسکافه</span>
                                    <span class="float-left">1 عدد</span></li>
                                <li>
                                    <span class="float-right">کاپوچینو</span>
                                    <span class="float-left">2 عدد</span>
                                </li>
                            </ul>
                            <div class="col mx-auto text-center">
                                <a class="icon icon_refresh modal2" onclick="change_status(this)">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a class="icon icon_cook modal2" onclick="change_status(this)">
                                    <i class="fa fa-share"></i>
                                </a>
                                <a class="icon icon_serve modal2" onclick="change_status(this)">
                                    <i class="fa fa-coffee"></i>
                                </a>
                                <a class="icon icon_check modal2" onclick="change_status(this)">
                                    <i class="fa fa-check"></i>
                                </a>
                                <a class="icon icon_trash modal2" onclick="change_status(this)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer mx-auto">
                            <button type="button" class="btn btn-info" data-dismiss="modal">بستن</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal fade" id="myModal3" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <h4 class="modal-title mx-auto">جزئیات سفارش</h4>
                        </div>
                        <div class="modal-body text-right">
                            <ul class="border rounded pl-2 py-2">
                                <li>
                                    <span class="float-right">قهوه</span>
                                    <span class="float-left">2 عدد</span></li>
                                <li>
                                    <span class="float-right">نسکافه</span>
                                    <span class="float-left">1 عدد</span></li>
                                <li>
                                    <span class="float-right">کاپوچینو</span>
                                    <span class="float-left">2 عدد</span>
                                </li>
                            </ul>
                            <div class="col mx-auto text-center">
                                <a class="icon icon_refresh modal3" onclick="change_status(this)">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a class="icon icon_cook modal3" onclick="change_status(this)">
                                    <i class="fa fa-share"></i>
                                </a>
                                <a class="icon icon_serve modal3" onclick="change_status(this)">
                                    <i class="fa fa-coffee"></i>
                                </a>
                                <a class="icon icon_check modal3" onclick="change_status(this)">
                                    <i class="fa fa-check"></i>
                                </a>
                                <a class="icon icon_trash modal3" onclick="change_status(this)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer mx-auto">
                            <button type="button" class="btn btn-info" data-dismiss="modal">بستن</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal fade" id="myModal4" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <h4 class="modal-title mx-auto">جزئیات سفارش</h4>
                        </div>
                        <div class="modal-body text-right">
                            <ul class="border rounded pl-2 py-2">
                                <li>
                                    <span class="float-right">قهوه</span>
                                    <span class="float-left">2 عدد</span></li>
                                <li>
                                    <span class="float-right">نسکافه</span>
                                    <span class="float-left">1 عدد</span></li>
                                <li>
                                    <span class="float-right">کاپوچینو</span>
                                    <span class="float-left">2 عدد</span>
                                </li>
                            </ul>
                            <div class="col mx-auto text-center">
                                <a class="icon icon_refresh modal4" onclick="change_status(this)">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a class="icon icon_cook modal4" onclick="change_status(this)">
                                    <i class="fa fa-share"></i>
                                </a>
                                <a class="icon icon_serve modal4" onclick="change_status(this)">
                                    <i class="fa fa-coffee"></i>
                                </a>
                                <a class="icon icon_check modal4" onclick="change_status(this)">
                                    <i class="fa fa-check"></i>
                                </a>
                                <a class="icon icon_trash modal4" onclick="change_status(this)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer mx-auto">
                            <button type="button" class="btn btn-info" data-dismiss="modal">بستن</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<script src="../static/js/lists.js"></script>
</body>
</html>