<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://v1.fontapi.ir/css/Vazir" rel="stylesheet">
    <link href="https://v1.fontapi.ir/css/Yekan" rel="stylesheet">
    <meta charset="UTF-8">
    <title>کافه | لیست سفارشات</title>

    <style>
        * {
            font-family: Yekan, sans-serif;
            direction: rtl;
        }

        body {
            background-color: #fafafa;
        }

        .order-col {
            height: 500px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row main-row bg-danger">
        <div class="col-8 order-col bg-info mx-auto"></div>
    </div>

</div>

</body>
</html>