<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://v1.fontapi.ir/css/Vazir" rel="stylesheet">
    <link href="https://v1.fontapi.ir/css/Yekan" rel="stylesheet">
    <meta charset="UTF-8">
    <title>کافه | لیست سفارشات</title>

    <style>
        * {
            font-family: Yekan, sans-serif;
            direction: rtl;
        }

        body {
            background-color: #fafafa;
        }

        .main-col {
            height: 600px;
        }

        .col-order {
            height: 60px;
            padding-top: 16px;
        }

        .row-order {
            border-radius: 7px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row main-row bg-light">
        <div class="col-8 main-col text-center mx-auto my-3">
            <div class="row row-order mx-auto my-3 border-bottom">
                <div class="col col-order">شماره سفارش</div>
                <div class="col col-order">شماره میز</div>
                <div class="col col-order">وضعیت</div>
                <div class="col col-order">ویرایش</div>
                <div class="col col-order">جرئیات</div>
            </div>
            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col col-order">325</div>
                <div class="col col-order">1</div>
                <div class="col col-order">سرو شده</div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                </div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>
            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col col-order">325</div>
                <div class="col col-order">1</div>
                <div class="col col-order">سرو شده</div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                </div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>
            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col col-order">325</div>
                <div class="col col-order">1</div>
                <div class="col col-order">سرو شده</div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                </div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>
            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col col-order">325</div>
                <div class="col col-order">1</div>
                <div class="col col-order">سرو شده</div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                </div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>
            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col col-order">325</div>
                <div class="col col-order">1</div>
                <div class="col col-order">سرو شده</div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                </div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>
            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col col-order">325</div>
                <div class="col col-order">1</div>
                <div class="col col-order">سرو شده</div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                </div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>
            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col col-order">325</div>
                <div class="col col-order">1</div>
                <div class="col col-order">سرو شده</div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                    <button type="button" class="btn btn-info"></button>
                </div>
                <div class="col col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>