<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://v1.fontapi.ir/css/Vazir" rel="stylesheet">
    <link href="https://v1.fontapi.ir/css/Yekan" rel="stylesheet">
    <meta charset="UTF-8">
    <title>test | لیست سفارشات</title>

    <style>
        * {
            font-family: Yekan, sans-serif;
            direction: rtl;
        }

        body {
            background-color: #fafafa;
        }

        .main-col {
            height: 100%;
        }

        .col-order {
            height: 60px;
            padding-top: 16px;
        }

        .row-order {
            border-radius: 7px;
        }


        #icon {
            color: black;
            font-size: 18px;
            margin-left: 4px;
            margin-right: 4px;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row main-row bg-light">
        <div class="col-8 main-col text-center mx-auto my-3">


            <div class="row row-order mx-auto my-3 border-bottom">
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">شماره سفارش</div>
                <div class="col-lg-2 col-md d-none d-md-block col-order">شماره میز</div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">وضعیت</div>
                <div class="col-lg-2 d-none d-lg-block col-order"></div>
                <div class="col-lg-2 col-md col-sm-3 d-none d-sm-block col-order">ویرایش</div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">جزئیات</div>
            </div>


            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">325</div>
                <div class="col-lg-2 col-md d-none d-md-block col-order">1</div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">سرو شده</div>
                <div class="col-lg-2 d-none d-lg-block col-order"></div>
                <div class="col-lg-2 col-md col-sm-3 d-none d-sm-block col-order">
                    <a id=icon href="#"><i class="fa fa-share"></i></a>
                    <a id=icon href="#"><i class="fa fa-coffee"></i></a>
                    <a id=icon href="#"><i class="fa fa-check"></i></a>
                    <a id=icon href="#"><i class="fa fa-trash"></i></a>
                </div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>


            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">325</div>
                <div class="col-lg-2 col-md d-none d-md-block col-order">1</div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">سرو شده</div>
                <div class="col-lg-2 d-none d-lg-block col-order"></div>
                <div class="col-lg-2 col-md col-sm-3 d-none d-sm-block col-order">
                    <a id=icon href="#"><i class="fa fa-share"></i></a>
                    <a id=icon href="#"><i class="fa fa-coffee"></i></a>
                    <a id=icon href="#"><i class="fa fa-check"></i></a>
                    <a id=icon href="#"><i class="fa fa-trash"></i></a>
                </div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>


            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">325</div>
                <div class="col-lg-2 col-md d-none d-md-block col-order">1</div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">سرو شده</div>
                <div class="col-lg-2 d-none d-lg-block col-order"></div>
                <div class="col-lg-2 col-md col-sm-3 d-none d-sm-block col-order">
                    <a id=icon href="#"><i class="fa fa-share"></i></a>
                    <a id=icon href="#"><i class="fa fa-coffee"></i></a>
                    <a id=icon href="#"><i class="fa fa-check"></i></a>
                    <a id=icon href="#"><i class="fa fa-trash"></i></a>
                </div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>


            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">325</div>
                <div class="col-lg-2 col-md d-none d-md-block col-order">1</div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">سرو شده</div>
                <div class="col-lg-2 d-none d-lg-block col-order"></div>
                <div class="col-lg-2 col-md col-sm-3 d-none d-sm-block col-order">
                    <a id=icon href="#"><i class="fa fa-share"></i></a>
                    <a id=icon href="#"><i class="fa fa-coffee"></i></a>
                    <a id=icon href="#"><i class="fa fa-check"></i></a>
                    <a id=icon href="#"><i class="fa fa-trash"></i></a>
                </div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>


            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">325</div>
                <div class="col-lg-2 col-md d-none d-md-block col-order">1</div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">سرو شده</div>
                <div class="col-lg-2 d-none d-lg-block col-order"></div>
                <div class="col-lg-2 col-md col-sm-3 d-none d-sm-block col-order">
                    <a id=icon href="#"><i class="fa fa-share"></i></a>
                    <a id=icon href="#"><i class="fa fa-coffee"></i></a>
                    <a id=icon href="#"><i class="fa fa-check"></i></a>
                    <a id=icon href="#"><i class="fa fa-trash"></i></a>
                </div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>


            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">325</div>
                <div class="col-lg-2 col-md d-none d-md-block col-order">1</div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">سرو شده</div>
                <div class="col-lg-2 d-none d-lg-block col-order"></div>
                <div class="col-lg-2 col-md col-sm-3 d-none d-sm-block col-order">
                    <a id=icon href="#"><i class="fa fa-share"></i></a>
                    <a id=icon href="#"><i class="fa fa-coffee"></i></a>
                    <a id=icon href="#"><i class="fa fa-check"></i></a>
                    <a id=icon href="#"><i class="fa fa-trash"></i></a>
                </div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>


            <div class="row row-order mx-auto my-4 shadow bg-light">
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">325</div>
                <div class="col-lg-2 col-md d-none d-md-block col-order">1</div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">سرو شده</div>
                <div class="col-lg-2 d-none d-lg-block col-order"></div>
                <div class="col-lg-2 col-md col-sm-3 d-none d-sm-block col-order">
                    <a id=icon href="#"><i class="fa fa-share"></i></a>
                    <a id=icon href="#"><i class="fa fa-coffee"></i></a>
                    <a id=icon href="#"><i class="fa fa-check"></i></a>
                    <a id=icon href="#"><i class="fa fa-trash"></i></a>
                </div>
                <div class="col-lg-2 col-md col-sm-3 col-4 col-order">
                    <button type="button" class="btn btn-info"></button>
                </div>
            </div>


        </div>

    </div>

</div>

</body>
</html>